@model IEnumerable<OpticApp.Models.Vente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.visite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.articlePosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.montant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.visite.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.article.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.articlePosition.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montant)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
